<!doctype html>
<html class="no-js " lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %} <title>TuttoTic</title> {% endblock %}
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/principal.css' %}">
</head>
<body>
<div id="loading" class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="{% static 'assets/images/loader.svg' %}" width="48"
                                 height="48" alt="Oreo"></div>
        <p>Please wait...</p>
    </div>
</div>
<div class="wrapper">
    <div class="main_header">
        <div id="top-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">

                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="text-rsight">
                            <ul class="list-unstyled m-b-0">
                                <li><a href="{% url 'core:login' %}" class="btn btn-link">Iniciar sesión</a> <a
                                        href="javascript:void(0);" class="btn btn-link">Registrarse</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-sm-5 ">
                        <a href="base.html" class="navbar-brand"><img src="{% static 'assets/images/logo.png' %}"
                                                                      alt="logo"></a>
                    </div>

                </div>
            </div>
        </header>
        <div id="navbar">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active"><a class="nav-link" href="{% url 'core:base' %}">Home</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tutorias</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="blog.html">Estudiantes</a>
                                    <a class="dropdown-item" href="blog-detail.html">Profesores</a>
                                </div>
                            </li>

                            <li class="nav-item"><a class="nav-link" href="contact.html">Contaćtanos</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <section id="hero">
        <div class="container slider contenedor-slider-principal">
            <div class="slider_text contenedor-slider-principal-item">
                <h3 class="title"><span>BIENVENIDOS </span> <br> Tutto<strong>Tic</strong></h3>
                <p class="sub-title">Toma un Te y espera que TuttoTic te cuadre tu tutoria</p><br>
                <button class="btn btn-primary btn-round">Ver más</button>
            </div>
            <div class="contenedor-slider-principal-item">
                <img src="{% static 'assets/images/event-02.jpg' %}" alt="">
            </div>
        </div>
    </section>

    <section class="main-section">
        <div class="about-us-section">
            <div class="container">
                <div class="row">
                    <div class="section-title col-12">
                        <h2><span>Sobre </span>Nosotros</h2>
                        <p>Buscamos el horario mas optimo para la tutoria</p>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-sm-12">
                        <div class="box-img img_hover_effect box-shadow m-b-20">
                            <img src="{% static 'assets/images/about-img.jpg' %}" alt="">
                            <span class="section-line"></span>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <div class="common-cnt">
                            <div class="section-top">
                                <p><strong>TuttoTic </strong>No quiere que ningun estudiante se quede por fuera.
                                    Pretende
                                    encontrar el espacio optimo de los horarios de tu curso para que la mayorìa de
                                    personas
                                    tengan acceso a sus asesorias extra clase</p>
                            </div>
                            <p>Un horario optimo es un horario de todos</p>

                            <p><a href="about.html" class="btn btn-primary btn-simple btn-round margin-0">Ver más</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="fcard about">
                        <h5 class="title">Sobre la universidad</h5>
                        <p>La universidad de los llanos ofrece a sus estudiantes asesorías extra clase para las materías que estos ven. Sin embargo, generalmente los estudiantes de un curso no coinciden sus horarios y se presta la problemática de encontrar un horario optimo que beneficie a la mayoría.</p>
                        <div class="social">
                            <a href="javascript:void(0);"><i class="zmdi zmdi-facebook m-r-10"></i></a>
                            <a href="javascript:void(0);"><i class="zmdi zmdi-twitter m-r-10"></i></a>
                            <a href="javascript:void(0);"><i class="zmdi zmdi-instagram m-r-10"></i></a>
                            <a href="javascript:void(0);"><i class="zmdi zmdi-linkedin-box m-r-10"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fcard links">
                        <h5 class="title">Links de utilidades</h5>
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-unstyled">
                                    <li><a href="about.html">Sobre Nostros</a></li>
                                    <li><a href="teachers.html">Profesores</a></li>
                                    <li><a href="event.html">Estudiantes</a></li>
                                    <li><a href="galary.html">Tutorias</a></li>
                                    <li><a href="contact.html">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fcard contact links">
                        <h5 class="title">Detalles de contacto</h5>
                        <ul class="list-unstyled">
                            <li><i class="zmdi zmdi-pin"></i>Park Drive, Varick Str NY 10012, USA</li>
                            <li><i class="zmdi zmdi-email"></i>Getw<a href="/cdn-cgi/l/email-protection"
                                                                      class="__cf_email__"
                                                                      data-cfemail="2e4b42426e5b4047584b5c5d475a57004d4143">[email&#160;protected]</a>
                            </li>
                            <li><i class="zmdi zmdi-phone"></i>(123) 0200 12345 & 7890</li>
                            <li><i class="zmdi zmdi-time"></i>Mon-Friday: 9:30 to 17:30</li>
                            <li><i class="zmdi zmdi-time"></i>Sat-Sunday: 10:00 to 15:30</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <small>Copyright &copy; 2018 Oreo Theme by <a href="https://thememakker.com/" target="_blank">ThemeMakker</a>
                        </small></div>
                    <div class="col-lg-6 col-md-6 text-right">
                        <div class="up"><a href="#header"><i class="zmdi zmdi-caret-up-circle"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script data-cfasync="false"
        src="{% static '/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
<script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>

<script src="{% static 'assets/js/app.js' %}"></script>
<script src="{% static 'assets/js/countTo.js' %}"></script>
<script>(function () {
    var js = "window['__CF$cv$params']={r:'73a653e8cd98e78c',m:'Dsr_7s4YZqv4ANq64e8_szxxHOqOdQH2YKpwSoNs2tY-1660444849-0-AcrqbB+w0sRIjGB5b7oIEVgjbee5vnD5rjVNfVDpt93yzki5epbnLZOWoLj01trMA+am5aj3nlP8IbT2aex/kaOUZw617vPThQbKxyuaDLORGNpW2+eCkrXh78+op+afOkSO0eSiiAr5I4G1L2LmsXBk2usLz8+GNxJLBWBLCgdS',s:[0x7c4fb4384d,0x82303caaee],u:'/cdn-cgi/challenge-platform/h/g'};var now=Date.now()/1000,offset=14400,ts=''+(Math.floor(now)-Math.floor(now%offset)),_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='/cdn-cgi/challenge-platform/h/g/scripts/alpha/invisible.js?ts='+ts,document.getElementsByTagName('head')[0].appendChild(_cpo);";
    var _0xh = document.createElement('iframe');
    _0xh.height = 1;
    _0xh.width = 1;
    _0xh.style.position = 'absolute';
    _0xh.style.top = 0;
    _0xh.style.left = 0;
    _0xh.style.border = 'none';
    _0xh.style.visibility = 'hidden';
    document.body.appendChild(_0xh);

    function handler() {
        var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;
        if (_0xi) {
            var _0xj = _0xi.createElement('script');
            _0xj.nonce = '';
            _0xj.innerHTML = js;
            _0xi.getElementsByTagName('head')[0].appendChild(_0xj);
        }
    }

    if (document.readyState !== 'loading') {
        handler();
    } else if (window.addEventListener) {
        document.addEventListener('DOMContentLoaded', handler);
    } else {
        var prev = document.onreadystatechange || function () {
        };
        document.onreadystatechange = function (e) {
            prev(e);
            if (document.readyState !== 'loading') {
                document.onreadystatechange = prev;
                handler();
            }
        };
    }
})();</script>
</body>
</html>